
/* 
    Created on : 20/07/2018, 14:50:52
    Author     : Gabriel
*/


@media only screen and (max-width: 700px) {
    /* 
    FORMATANDO MENU NAVEGACIONAL
    */
    .cabecalho header .container .navbar{        
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .cabecalho header .container .navbar h1{
        max-width: 60px;
        max-height: 60px;
        display: flex;
        margin-left: -2px;
    }
    .cabecalho header .container .navbar ul{      
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .cabecalho header .container .navbar ul li{        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 50px;
    }
    /*==================================================================*/
    /* 
    FORMATANDO A CHAMADA DO TOPO
    */
    .cabecalho header .chamada-primary{
        width: 90%;
        margin: 0 auto;
        box-sizing: border-box;
        padding: 5%;
    }
    .cabecalho header .chamada-primary h2{
        font-size: 1.4em;        
        width: 100%;
        text-align: center;
    }
    .cabecalho header .chamada-primary p{
        font-size: 0.875em;        
        width: 100%;
        text-align: left;
    }
    .cabecalho header .chamada-primary .button{
        max-width: 75%;
        font-size: 0.875em;
        margin-top: 10px;
    }
    /* 
    ======================================================================
    */
    
    /* 
    FORMATANDO O CONTEUDO (1) PAI DO VIDEO
    */
    .cabecalho .conteudo1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;        
    }
    .cabecalho .conteudo1 article{
        margin-left: -15px;       
        width: 100%;       
        margin: 30px auto auto auto;
    }   
   
    .cabecalho .conteudo1 article h2{
        font-size: 1.4em;
        width: 100%;
        text-align: center;
    }
    .cabecalho .conteudo1 article p{
        font-size: 0.875em;
        width: 100%;        
    }
    /* 
    FORMATANDO VIDEO DO CONTEUDO 1
    */
     .cabecalho .conteudo1 .video{        
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width:100%;        
        box-sizing: border-box;
        margin: 0 auto;        
    }
    /* 
    FORMATANDO LISTA DE BENEFICIOS
    */
    main .numbers .container ul{
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;           
    }
    main .numbers .container ul li span{
      font-size: 1.5em;
    }
    main .numbers .container ul li span small{
      font-size: 0.875em;
    }
    main .numbers .container ul .dif{
       display: none;
    }
    /* 
    FORMATANDO CHAMADA 2 
    */
    main .chamada-second .container{
        display: flex;
        flex-direction: column;
    }
    main .chamada-second .container figure{
        width: 95%;
        margin: 0 auto;
    }
    main .chamada-second .container ul {
       margin-top: 30px;
    }
    main .chamada-second .container figure h3{
        font-size: 0.700em;
        text-align: left
    }
    main .chamada-second .container figure span{
        width: 25%;
        max-width: 20%;
        top: -35px;
    }
    main .chamada-second .container ul li img{
        width: 10%;
        height: 10%;
    }
    main .chamada-second .container ul li h3{
        font-size: 1em;
    }
    main .chamada-second .container ul li div p{
        font-size: 0.875em;
    }
     /*==================================================================*/
     /* 
    FORMATANDO CONTEUDO 2 FORMA E LISTAS
    */
     main .conteudo2 .container h2{
         font-size: 1.5em;
         text-align: center;
     }
     main .conteudo2 .container p{
         font-size: 0.875em;
         text-align: left;
     }
     main .conteudo2 .container form {
         margin-right: 10px;
     }
     main .informer .container{
         width: 100%;
     }
     main .informer .container ul{
         margin: 0 auto;
         align-items: center;         
     }
     main .informer .container ul li{
         margin-right: 5px;
         margin-left: 10px;
         align-items: baseline;         
     }
     main .informer .container ul li div a h3{
         font-size: 0.900em;
         align-items: baseline;
     }
     main .informer .container ul li div a span{
         font-size: 0.705em;      
         width: 100%;
         padding: 10px;
         white-space: nowrap;
     }
     /*==================================================================*/
     /* 
        FORMATANDO FOOTER RODAPÉ
    */
     footer .container{
         width: 100%;
     }
     footer .container h2{
         margin-left: 10px;
     }
     
     footer .container ul li{        
         margin-right: 10px;
     }
     footer .container ul li a{
         font-size: 0.875em;         
         padding: 0px;        
     }
}


